/target
# OS DEVELOPMENT
*.iso
*.bin
*.img
*.elf
*.efi
*.fd
*.iso
*.bin
*.img
*.elf
# MACOS
.DS_Store
os_iso_build/*
OxideOS.iso
mnt
os_iso_configuration/*
iso_builds/*
# Ignore binaries
*.bin
*.img
*.o

# Ignore files with no extension
*       # ignore all
!*.*    # except files with a dot (so .asm, .sh, .md, etc. are kept)
!.gitignore
*/target/*
*/.DS_Store